.footer{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 10px;

     .goIT{
          font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: #939393;

     }
}

