.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(1.5px);
  z-index: 10;
  display: none;
}
body {
  overflow-x: hidden;
}
.modal {
  position: absolute;
  width: 1000px;
  height: auto;
  background-color: white;
  top: 200px;
  left: 200%;
  z-index: 12;
  border-radius: 300px 0;

  .modal__container {
    margin-right: 40px;
    margin-left: 40px;
  }

  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 41px;
  }

  .close {
    order: 1; /* Помещаем .close вправо */
  }

  img.pic-circle {
    margin: 0 auto; /* Центрируем изображение */
    width: 132px;
    height: 132px;
    border-radius: 50%;
  }

  .closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    height: 8em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: none;
    border-radius: 3px;
    letter-spacing: 3px;
    font-weight: 600;
    transition: all 0.2s linear;
    cursor: pointer;
    background: none;
    border: none;
  }

  .closeBtn > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
  }

  .modal__back{
    font-size: 17px;

  }
  .closeBtn:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
  }

  .closeBtn:hover {
    transform: translateY(-2px);
  }

  .modal__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    max-height: 641px;
  }

  .modal-image {
    flex: 1;
  }

  .modal-texts {
    flex: 1;
  }

  .pic-poster {
    width: 100%;
    height: 100%;
    padding-right: 60px;
  }

  .about {
    padding-bottom: 20px;
  }

  .title__modal {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #dc56c5;

    padding-bottom: 7px;
  }

  .text__modal {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #0e0e0e;
  }

  .buy-tick-but {
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    padding: 9px 19px;
    background-color: #4C00FE; 
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    border-radius: 5px;
  }
  .buy-tick-but:hover {
    border: 1px solid #000;
    background-color:#fff; 
    color: #0e0e0e; 
}
.buy-ticket{
    margin-bottom: 31px;
}
  .text__price{
    margin-bottom: 20px;
  }





  .more-but{
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    display: block;
    margin: 0  auto;
    width: 255px;
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #4C00FE;
border: 1px solid #4C00FE;
border-radius: 5px;
padding: 10px 16px;
margin-bottom: 62px;
  }

  .more-but:hover {
    border: 1px solid #4C00FE;

    background-color: #4C00FE;
    color:#ffffff; 
}
}
