

<header class="header">
  <div class="header-content ">
    <div class="logo">
      <a href="">
        <img src="./images/E.svg" alt="">  
        <img src="./images/V.svg" alt="">  
        <img src="./images/E.svg" alt="">  
        <img src="./images/N.svg" alt="">  
        <img src="./images/T.svg" alt="">
        <br></br>
        <img src="./images/B.svg" alt="">
        <img src="./images/U1.svg" alt="">
        <img src="./images/U2.svg" alt="">
        <img src="./images/S.svg" alt="">
        <img src="./images/T.svg" alt="">
        <img src="./images/E.svg" alt="">
        <img src="./images/R.svg" alt="">
      </a>
    </div>

    <div class="container">
      <h1 class="header__title" >
        FIND BEST EVENTS <br>
        AROUND THE WORLD
      </h1>
      <div class="search">
        <form class="search__form">
          <input
            type="text"
            class="name_input"
            placeholder="Start searching"
          />
          <button type="button" class="search-button">
            <img src="./images/search icon.svg" alt="" />
          </button>
        </form>
        <form class="search__form">
          <input
            type="text"
            class="location_input"
            placeholder="Choose country"
          />
          <button type="button" class="search-button">
            <img src="./images/Polygon.svg" alt="" />
          </button>
        </form>
      </div>
    </div>
  </div>
</header>
