<header class="header">
  <div class="header-content">
    <div class="logo">
      <a href="">
        <img class="logo-img" alt="logo" src="./images/logo.png" />
      </a>
    </div>

    <div class="container">
      <h1 class="header__title" >
        FIND BEST EVENTS <br>
        AROUND THE WORLD
      </h1>
      <div class="search">
        <form class="search__form">
          <input
            type="text"
            class="name_input"
            placeholder="Start searching"
          />
          <button type="button" class="search-button">
            <img src="./images/search icon.svg" alt="" />
          </button>
        </form>
        <form class="search__form">
          <input
            type="text"
            class="location_input"
            placeholder="Choose country"
          />
          <button type="button" class="search-button">
            <img src="./images/Polygon.svg" alt="" />
          </button>
        </form>
      </div>
    </div>
  </div>
</header>
