<div class="preloader">
     <div class="cssload-container">
          <div class="cssload-thing"></div>
          <div class="cssload-thing"></div>
          <div class="cssload-thing"></div>
          <div class="cssload-thing"></div>
          <div class="cssload-thing"></div>
          <div class="cssload-thing"></div>
          <div class="cssload-thing"></div>
          <div class="cssload-thing"></div>
          <div class="cssload-thing"></div>
          <div class="cssload-thing"></div>
          <div class="cssload-thing"></div>
          <div class="cssload-thing"></div>

          <div class="percentage">0%</div>
     </div>
     </div>
     
     